.main_wrapper {
    background: #111724;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3%;
    box-shadow: 0px 0px 19px #c58c00bf;
    justify-content: center;
    width: auto;
    padding: 1rem;
}
.main_wrapper_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    padding: 1rem;
}
.main_wrapper_outer {
    color: #000;
    background: #f3f3f3;
    justify-content: center;
    text-align: center;
    width: 250px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    height: 300px;

}

.price_content_box {
    margin: 5px;
    margin-bottom: 1rem;
}

.delta_content_box {
    margin: 5px;
}

.current_price_value{
    color: rgb(255, 255, 255);
    background: #000000;
    text-align: center;
    border-radius: 1.5rem;
    padding: 10px 20px;
    margin-bottom: 0.5rem;
    transition:all 1s cubic-bezier(0, 0.69, 0.78, 0.99);
}
.stonks{
    background: chartreuse;
    color: black!important;
    transition:all 1s cubic-bezier(0, 0.69, 0.78, 0.99);
}
.crash{
    background: red;
    color: black!important;
    transition:all 1s cubic-bezier(0, 0.69, 0.78, 0.99);
}
.delta_price_value {
    color: rgb(255, 255, 255)!important;
    background: #000000;
    text-align: center;
    border-radius: 1rem;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
}

.price_label {
    color: #424242!important;
}

.p_increase {
    color: green!important;
    /* animation: increase 20s infinite; */
}

.p_decrease {
    color: red!important;
    /* animation: decrease 20s infinite; */
}

.last_updated{
    color: white;
    display: inline;
    font-size: 0.75rem;
}

.main_heading{
    font-weight: 300;
    font-size: 20pt;
}

@keyframes decrease {
    from {
        color: red!important;
    }
    to {
        color: rgb(255, 255, 255)!important;
    }
}

@keyframes increase {
    from {
        color: green!important;
    }
    to {
        color: rgb(255, 255, 255)!important;
    }
}

@media screen and (max-width: 767px){
    .main_wrapper_outer{
        width: unset;
        margin-top: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
        height: 11rem;
        padding: 20px 0 10px 0;
    }
    .main_heading{
        font-weight: 300;
        line-height: 1.2rem;
        font-size: 1.2rem;
    }    
}