/* Animations */

.fade {
    animation: fadeIn var("--s");
    -webkit-animation: fadeIn var("--s");
    -moz-animation: fadeIn var("--s");
    -o-animation: fadeIn var("--s");
    -ms-animation: fadeIn var("--s");
  }
  
  @keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
    100% {
        opacity: 1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
    100% {
        opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
    100% {
        opacity: 1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
    100% {
        opacity: 1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
    100% {
        opacity: 1;
    }
  }