.layout_wrapper{
  height:100vh; 
  margin:0; 
  display:flex; 
  flex-direction:column;  
}

.main_header_wrapper {
  /* background: rgb(25 25 25 / 70%); */
  background: rgb(25 25 25 / 70%);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.top_elements {
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  text-align: center;
}

.navbar {
  display: flex;
  width: 70%;
  margin: auto;
  background-color: #00000000;
  color: #fff;
  border-bottom: 2px solid #ffdd0090;
}

.navbar_link_group {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_link {
  padding: 1rem;
}

.navbar_link_label {
  color: #fff;
  text-transform: uppercase;
}

.navbar_link_label:hover {
  color: #ffdd00;
}

.jainam_logo {
  height: 5rem;
}

.footer_main_wrap {
  margin-top:auto; 
  width: 100%;
  color: #fff;
  background: #000;
  text-align: center;
}

.links_header {
  padding-left: 15%;
  text-align: left;
  border-top: solid 1px #fff;
  line-height: 3rem;
}

.footer_link_wrapper {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

.socials_wrapper {
  margin-left: auto;
  display: flex;
}

.socials_element {
  background: #fff;
  border-radius: 50%;
  padding: 0.25rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  height: 3rem;
  width: 3rem;
}

.socials_element:hover {
  box-shadow: 0 0px 5px rgba(255, 191, 0, 0.573), 0 0px 15px rgb(255, 191, 0);
}

.socials_element img {
  height: 2rem;
  width: 2rem;
}

.footer_link_element {
  margin: 0.3rem 2rem 0 0
}

.terms_wrapper {
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 0;
  border-top: 2px solid #fff;
}