.aboutus_Wrapper {
  padding-top: 100px;
  width: 100%;
  margin: auto;
}

.info_box_Wrapper {
  text-align: left;
  width: 900px;
  margin: auto;
  font-size: 16px;
  font-weight: 100;
}

.aboutus_text_section {
  max-width: 500px;
}

.aboutus_text_section h2 {
  letter-spacing: 5px;
  font-size: 32pt;
  line-height: 40pt;
  margin: 10px 0px;
  text-transform: uppercase;
}
.our_history_Wrapper {
  width: 900px;
  margin: 100px auto;
  display: flex;
  height: fit-content;
  background: #e5e5e5;
}
.our_history_image_Wrapper img {
  max-height: 400px;
}
.our_history_image_Wrapper {
  height: fit-content;
  max-height: fit-content;
}

.our_history_Wrapper h2 {
  letter-spacing: 5px;
  font-size: 32pt;
  line-height: 40pt;
  margin: 0px 0px 30px 0px;
  text-transform: uppercase;
  height: 32pt;
  width: 500px;
}
.our_history_Wrapper p {
  font-size: 12pt;
  line-height: 12pt;
  font-weight: 300;
}
.aboutus_history_section_collapsable {
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.aboutus_history_section {
  margin: 50px auto;
  width: fit-content;
  max-width: 350px;
}

.aboutus_ReadMore {
  margin-top: 20px;
  color: #5a5a5a;
  font-size: 10pt;
  line-height: 10pt;
  text-decoration: underline;
}

.square_box_links_wrapper {
  margin: 100px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.square_box_link {
  height: 290px;
  width: 33.33%;
  justify-content: center;
  text-align: center;
  display: flex;
  border: 1px solid rgb(255, 255, 255);
  background: rgb(177, 177, 177);
  color: white;
  transition: all 0.2s ease-in-out;
}

.square_box_link:hover {
  color: black;
  background: #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.square_box_link h2 {
  margin: auto;
  padding: 40px;
  font-weight: 100;
  font-size: 32px;
}
.our_team_section h2 {
  letter-spacing: 5px;
  font-size: 32pt;
  line-height: 40pt;
  margin: 0px 0px 30px 0px;
  text-transform: uppercase;
  height: 32pt;
  width: 500px;
}
.our_team_main_wrapper {
  display: flex;
  margin-bottom: 40px;
}

.our_team_content_wrapper {
    width: 450px;
    margin-left: 30px;
}
.our_team_content_heading{
    font-weight: 400;
    font-size: 24pt;
    line-height: 24pt;
}
.our_team_content_designation{
    margin-top: 5px;
    font-size: 9pt;
    line-height: 9pt;
}