.homepage_background_carousel {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 600px;
}

.homepage_background_carousel button {
    z-index: 10;
}

.homepage_background_carousel div,.homepage_background_carousel div div,.homepage_background_carousel div div div,.homepage_background_carousel div div div ul {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}