.homepage_content_wrapper {
 
}
.tagline_main_wrapper{
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin: 100px auto;
}
.body_section {
  width: 80%;
  margin: auto;
  display: flex;
}

.banner_content {
  padding: 3rem;
  margin: 5rem 0 5rem 0;
  border-radius: 5px;
  background: #0000005e;
}

.content_heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #ffdd00;
}

.sub_heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.button1{
  font-size: 1rem;
  padding: 5px 10px;
  color: #2b2b2b;
  background: #ffdd00;
  border: none;
  border-radius: 5%;
}
.button1:hover{
  background: #ffd900aa;
}
.image_content {
  width: 65%;
  margin-left: auto;
  float: right;
}

.content_right_pane {
  align-content: center;
  margin: auto
}

.slow_gun{
  animation: come_from_left 30s ease;
}
.tagline_wrapper{
  width: fit-content;
  max-width: 600px ;
}
.tagline{
  /* animation: come_from_left 2s ease-in-out; */
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
}
.tagline div{
  font-size: 32pt;
  line-height: 36pt;
}
.tagline p{
  text-transform: none;
  font-size: 12pt;
  line-height: 18pt;
  font-weight: 300;
}
.tagline div:nth-child(1){
  animation: come_from_left 0.4s ease-in-out;
}
.tagline div:nth-child(2){
  animation: come_from_left 0.6s ease-in-out;
}
.tagline div:nth-child(3){
  animation: come_from_left 0.8s ease-in-out;
}

.homepage_categories_wrapper{
  width: 900px;
  margin: auto;
}

.homepage_categories_heading{
  font-size: 32pt;
  line-height: 36pt;
  text-transform: uppercase;
}
.homepage_handmade_heading{
  margin: auto;
  width: 900px;
  font-size: 32pt;
  line-height: 36pt;
  text-transform: uppercase;
}

.categories_cards{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.category_element{
  width: 25%;
  height: 250px;
  background:#f3f3f3;
  margin: 5px;
}
.category_element img{
  width: 100%;
}
.category_element div{
  text-align: center;
  font-size: 12pt;
  line-height: 12pt;
}
.homepage_handmade_wrapper{
  margin: 100px 0px;
}
.image_wrapper_handmade{
  display: flex;
}
.homepage_handmade_group{
  margin-top: 50px;
  display: flex;
  background: #f3f3f3;
  justify-content: space-between;
}
.image_wrapper_handmade img{
  height: 500px;
}
.homepage_handmade_content_wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.homepage_handmade_content_wrap div{
  max-width: 400px;
  padding: 0px 20px;
  margin: 10px auto;
  font-size: 12pt;
  line-height: 14pt;
  font-weight: 300;
}
@keyframes come_from_left{
  from{
    transform: translateX(-500px)
  }
  to{
    transform: translateX(0px)
  }
}