.homepage_content_wrapper {
  display: flex;
}

.body_section {
  width: 80%;
  margin: auto;
  display: flex;
}

.banner_content {
  padding: 3rem;
  margin: 5rem 0 5rem 0;
  border-radius: 5px;
  background: #0000005e;
}

.content_heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #ffdd00;
}

.sub_heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.button1{
  font-size: 1rem;
  padding: 5px 10px;
  color: #2b2b2b;
  background: #ffdd00;
  border: none;
  border-radius: 5%;
}
.button1:hover{
  background: #ffd900aa;
}
.image_content {
  width: 65%;
  margin-left: auto;
  float: right;
}

.content_right_pane {
  align-content: center;
  margin: auto
}

.slow_gun{
  animation: come_from_left 30s ease;
}

.tagline{
  /* animation: come_from_left 2s ease-in-out; */
  padding-left: 50px;
  text-align: left;
}
.tagline div{
  font-size: 50px;
}
.tagline div:nth-child(1){
  animation: come_from_left 0.4s ease-in-out;
}
.tagline div:nth-child(2){
  animation: come_from_left 0.6s ease-in-out;
}
.tagline div:nth-child(3){
  animation: come_from_left 0.8s ease-in-out;
}

@keyframes come_from_left{
  from{
    transform: translateX(-500px)
  }
  to{
    transform: translateX(0px)
  }
}