.wrapper{
    margin: auto;
    text-align: left;
    transition: 1s;
    background: #3c3c3c;
    border-radius: 5px;
}
.title{
    border-radius: 5px;
    position: relative;
    padding-top: 0.35rem;
    height: 2rem;
    padding-left: 1rem;
    width: 100%;
    text-align: left;
    border: 1px solid #000;
    transition: 1s;
    background: #000;
    display: flex;
}
.arrow{
    margin-left: auto;
    font-size: 20px;
    margin-right: 1rem;
}

.content{
    transition: 0.5s;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.content_hide{
    background: #3c3c3c00;
    color: #00000000;
    transition: 0.25s;
    max-height: 0px;
}
