.layout_wrapper {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: row;
  background: #fcfcfc;
  box-shadow: 0 2.2px 2.9px rgba(0, 0, 0, 0.008),
    0 4.3px 6.9px rgba(0, 0, 0, 0.018), 0 6.7px 13px rgba(0, 0, 0, 0.034);
}

.logoWrapper,
.lineButton,
.searchButton {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
.lineButton {
  margin-right: auto;
}
.searchButton {
  margin-left: auto;
}

.jainam_logo {
  max-height: 50px;
}

.hamBorger {
  height: 1rem;
  margin-left: 1rem;
}

.searchIcon {
  height: 1.2rem;
  margin-right: 1rem;
}
.sidebarWrapperClass {
  max-width: 320px;
  width: 320px;
  display: flex;
  flex-direction: column;
}
.closeButtonWrapper {
  display: flex;
  justify-content: right;
  width: 100%;
}
.closeButtonWrapper > div {
  margin-left: auto;
}
.closeButtonWrapper button {
  border:none;
  background: none;
  padding-top: 1rem;
  padding-right: 1rem;
}

.closeButtonWrapper img {
  height: 1.5rem;
} 

.logoWrapper_sidebar img{
  max-height: 60px;
}
.logoWrapper_sidebar{
  margin: 0 1rem 2rem 1rem;
}

.sideBar_List{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  font-size: 1rem;
  line-height: 3rem;
  font-weight: 300;
  text-transform: uppercase;
}
@keyframes scrollDown {
  from {
    transform: translateY(-24rem);
  }
  to {
    transform: translateY(0px);
  }
}
