.layout_wrapper {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: row;
  background: #fcfcfc;
  box-shadow: 0 2.2px 2.9px rgba(0, 0, 0, 0.008),
    0 4.3px 6.9px rgba(0, 0, 0, 0.018), 0 6.7px 13px rgba(0, 0, 0, 0.034);
}

.logoWrapper,
.lineButton,
.searchButton {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
.lineButton {
  margin-right: auto;
}
.searchButton {
  margin-left: auto;
}

.jainam_logo {
  max-height: 50px;
}

.hamBorger {
  height: 1rem;
  margin-left: 1rem;
}

.searchIcon {
  height: 1.2rem;
  margin-right: 1rem;
}

@keyframes scrollDown {
  from {
    transform: translateY(-24rem);
  }
  to {
    transform: translateY(0px);
  }
}