.colapsable_wrapper {
    background: #ffbc00;
    display: flex;
    transition: all 0.3s ease-in-out;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.colapsable_wrapper_hide_div div {
    display: none;
}

.HamButton {
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 5vw;
    right: 5vw;
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0.4rem;
    background-color: #000;
    cursor: pointer;
}

.expand_ham::after {
    background: #00000085;
    z-index: 999999;
    content: "";
    height: 100vh;
    width: 100vh;
    position: fixed;
    top: 24rem;
    transition: all 0.3s ease-in-out;
    animation: scrollDown 0.3s ease-in-out;
}

.HamButton div {
    height: 0.25rem;
    width: 100%;
    margin: auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
/* #__next > div > div.LayoutMobile_overlaywrapper__3POMo > div:nth-child(2) > div > div:nth-child(1) */
.top_x{
    transform: rotate(45deg);
    position: absolute;
    top: 0.9rem;
    left: 0.0rem;
}

.bot_x{
    transform: rotate(135deg);
    position: absolute;
    top: 0.9rem;
    left: 0.0rem;
}

.overlaywrapper {
    height: 24rem;
    width: 100%;
    background: #b3b3b3;
    display: flex;
    /* position: fixed; 
    top: 0; */
}

.navbar_link{
    font-weight: 600;
    font-size: 16pt;
    line-height: 16pt;
    padding: 1rem;
}

@keyframes scrollDown {
    from {
        transform: translateY(-24rem);
    }
    to {
        transform: translateY(0px);
    }
}